
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/JY?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    driverClassName: com.mysql.jdbc.Driver
    username: root
    password: ssk123456
    type: com.alibaba.druid.pool.DruidDataSource
#    schema: classpath:/org/springframework/batch/core/schema-mysql.sql
  application:
    name: mvc

  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    jedis:
      pool:
        max-active: 8
        max-wait: -1ms
        max-idle: 8


  batch:
    initialize-schema: always


context:
  initializer:
    classes: com.ssk.event.MyApplicationContextInitializer

sku.auto.off.shelf.enable: false



nacos:
  config:
    server-addr: localhost:8848


  discovery:
    server-addr: 127.0.0.1:8848






jetcache:
  statIntervalMinutes: 15
  areaInCacheName: false
  local:
    default:
      type: linkedhashmap
      keyConvertor: fastjson
      limit: 100
  remote:
    default:
      type: redis
      keyConvertor: fastjson
      valueEncoder: java?useIdentityNumber=false
      valueDecoder: java?useIdentityNumber=false
#      useIdentityNumber: false
      poolConfig:
        minIdle: 5
        maxIdle: 20
        maxTotal: 50
      host: 127.0.0.1
      port: 6379
      database: 0










